* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body{
  background: #ffffff;
}

/* NavBar Section */

.navbar {
  background: #444444;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  position: sticky;
  top: 0;
  z-index: 999;

}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 50px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #37adc2;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #000000;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Social Section #d15252; */

.start {
  padding: 200px 0;
  background-color: rgb(5, 4, 66);
  background-image: url(network.jpg);
  background-position: center center;
}

.start__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
  z-index: 1;
}

.start__container2 {
  text-align: center;
}

.start__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #ffffff;
  z-index: 1;
}

.start__heading span {
  background: #37adc2;
  background: -webkit-linear-gradient(
    to right,
    #00ff55,
    #37adc2
  ); 
  background: linear-gradient(
    to right,
    #00ff55,
    #37adc2
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.start__description {
  font-size: 60px;
  background: #37adc2; 
  background: -webkit-linear-gradient(
    to right,
    #00ff55,
    #167694
  ); 
  background: linear-gradient(
    to right,
    #00ff55,
    #167694
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid #fff;
}

@media screen and (max-width: 768px) {
  .start__heading {
    font-size: 60px;
  }

  .start__description {
    font-size: 40px;
  }
}

.me__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.me__btn {
    font-size: 1.8rem;
    background: #3b38df; 
    background: -webkit-linear-gradient(to right, #6bbbc9, #218a7c, #312eca);
    background: linear-gradient(to right, #6bbbc9, #218a7c, #3b38df);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin: 0.3cm;
  }

  .me__btn:active{
    background: #312eca;
    
  }

  .btn__icon {
    color: #fff;
    size: 1cm;
  }

  .me__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #312eca;
    transition: all 0.35s;
    border-radius: 4px;
    opacity: 0.4;
  }
  
  .me__btn:active{
    background: #312eca;
  }

  .me__btn:hover {
    color: #fff;
  }
  
  .me__btn:hover:after {
    width: 100%;
  }
  

/* About Section

.me {
  padding: 10rem 0;
}

.me__container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.me__content {
  color: #000000;
  width: 100%;
}

.me__content h1 {
    font-size: 2rem;
    background-color: #37adc2;
    background-image: linear-gradient(to top, #37adc2 0%, #102529 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  } 
  

.me__content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}  */

/*Timeline*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
      opacity: 1;
      transform: translateY(-30px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}
.container:nth-child(5) {
  animation-delay: 4s;
}
.container:nth-child(6) {
  animation-delay: 5s;
}
.container:nth-child(7) {
  animation-delay: 6s;  
}

.text-box {
  padding: 20px 30px;
  background-color: #e7e7e7;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0%;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
  border: 4px solid #e7e7e7;
  background-color: #ffffff;
}

.right-container img {
  left: -20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 80%;
  background: #e7e7e7;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0%{
      height: 0;
  }
  100%{
      height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e7e7e7;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e7e7e7;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
      margin: 50px auto;
  }
  .timeline::after {
      left: 31px;
  }
  .container {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
  }
  .text-box {
      font-size: 13px;
  }
  .text-box small {
      margin-bottom: 10px;
  }

  .right-container {
      left: 0;
  }

  .left-container img, .right-container img {
      left: 10px;
  }

  .left-container-arrow, .right-container-arrow {
      border-right: 15px solid #e7e7e7;
      color: #000000;
      border-left: 0;
      left: -15px;
  }
}

/* Quotes Section
  background-color: #6bbbc9; background-color: #bae7eb; */

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
  background-color: rgb(163, 165, 173);
}

.quotes h1 {

  background-color: #6bbbc9;
  background-image: linear-gradient(to top, #37adc2 0%, #102529 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.quotes__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
/*
.quotes__card {
  margin: 30px;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #37adc2;
  background-image: linear-gradient(to top, #37adc2 0%, #102529 100%);
  transition: 0.3s ease-in;
}*/

.quotes__card {
  margin: 30px;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #37adc2;
  background-image: linear-gradient(to top, #cdebf0 0%, #37717c 100%);
  transition: 0.3s ease-in;
}

.quotes__card h2 {
  text-align: center;
  color:#000000;
  font-size: 1.2rem;
  margin: 10px;
  line-height: 1.4em;
}

.quotes__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  color: #000000;
}

.quotes__card button:hover {
  cursor: pointer;
}

.quotes__card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .quotes__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .quotes__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Footer CSS */

.footer__container {
  padding: 5rem 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.website__rights {
  color: #000000;
}

/* Legal Notice */

.imp {
padding: 10rem 0;
}

.imp__container {
align-items: center;
justify-content: center;
margin: 0 auto;
height: 90%;
z-index: 1;
width: 100%;
max-width: 1300px;
padding: 0 50px;
}

.imp__content {
color: #000000;
width: 100%;
}

.imp__content h1 {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.imp__content p {
margin-top: 1rem;
font-size: 0.8rem;
font-weight: 700;
}

/* Privacy Policy */

.daten {
padding: 10rem 0;
}

.daten__container {
align-items: center;
justify-content: center;
margin: 0 auto;
height: 90%;
z-index: 1;
width: 100%;
max-width: 1300px;
padding: 0 50px;
}

.daten__content {
color: #000000;
width: 100%;
}

.daten__content h1 {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.daten__content p {
margin-top: 0.6rem;
font-size: 0.7rem;
font-weight: 700;
}

.daten__content h2 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-style:"color:red";
  color: #37adc2;
  }

.daten__content h3 {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: underline;
  
  }

.daten__content h4 {
  margin-top: 0.8rem;
  font-size: 0.7rem;
  font-weight: 700;
  } 

.daten__content li {
  margin-top: 0.6rem;
  font-size: 0.7rem;
  font-weight: 700;
  }
